<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>Microsys-Performa Invoice</display-name>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>jaxws-servlet</servlet-name>
		<servlet-class>com.sun.xml.ws.transport.http.servlet.WSSpringServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>jaxws-servlet</servlet-name>
		<url-pattern>/LoginService</url-pattern>
	</servlet-mapping>

	<!-- <filter>
		<filter-name>nocatchbrowser</filter-name>
		<filter-class>com.microsys.app.service.filter.NoBrowserCacheFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>nocatchbrowser</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping> -->

	<listener>
		<!-- ContextLoaderListener is a class that starts Spring container. Basically 
			every Spring application consists of several beans and wiring. Without Spring 
			container your beans are just Java classes and Spring configuration file 
			is just a useless XML document. ContextLoaderListener reads that file, finds 
			your classes, instantiates them and wires. All your beans are then placed 
			inside a container. Additionally ContextLoaderListener closes the context 
			on application shutdown. -->
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:**/*applicationContext.xml</param-value>
	</context-param>

</web-app>